<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>TestConfg</servlet-name>
        <servlet-class>ServletConfig.TestConfg</servlet-class>
        <init-param>
            <param-name>username</param-name>
            <param-value>ali</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>bell</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationServlet</servlet-name>
        <servlet-class>ServletConfig.AuthenticationServlet</servlet-class>
        <init-param>
            <param-name>filename</param-name>
            <param-value>D:\\download\\passwords.properties</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>PasswordVerifyServlet</servlet-name>
        <servlet-class>ServletConfig.PasswordVerifyServlet</servlet-class>
        <init-param>
            <param-name>filename</param-name>
            <param-value>D:\\download\\passwords.properties</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>HttpPasswordVerifyServlet</servlet-name>
        <servlet-class>ServletConfig.HttpPasswordVerifyServlet</servlet-class>
        <init-param>
            <param-name>filename</param-name>
            <param-value>D:\\download\\passwords.properties</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ItemCookiesServlet</servlet-name>
        <servlet-class>Cookies.ItemCookiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowServlet</servlet-name>
        <servlet-class>Cookies.ShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>Cookies.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCart</servlet-name>
        <servlet-class>Cookies.ShoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemAddSessionServlet</servlet-name>
        <servlet-class>Session.ItemAddSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemDeleteSessionServlet</servlet-name>
        <servlet-class>Session.ItemDeleteSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowItemSessionServlet</servlet-name>
        <servlet-class>Session.ShowItemSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingSessionServlet</servlet-name>
        <servlet-class>Session.ShoppingSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingBag</servlet-name>
        <servlet-class>SessionTask.ShoppingBag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProtectedPageAuthentication</servlet-name>
        <servlet-class>ProtectedPages.ProtectedPageAuthentication</servlet-class>
        <init-param>
            <param-name>filename</param-name>
            <param-value>D:\\download\\passwords.properties</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>HideFieldServlet</servlet-name>
        <servlet-class>HideFoam.HideFieldServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebVisitorServlet</servlet-name>
        <servlet-class>HideFoam.WebVisitorServlet</servlet-class>
        <init-param>
            <param-name>filename</param-name>
            <param-value>D:\\download\\counter.properties</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>QuizServlet</servlet-name>
        <servlet-class>QuizDatabaseServlet.QuizServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestConfg</servlet-name>
        <url-pattern>/TestConfg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationServlet</servlet-name>
        <url-pattern>/AuthenticationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordVerifyServlet</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HttpPasswordVerifyServlet</servlet-name>
        <url-pattern>/HttpPasswordVerifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemCookiesServlet</servlet-name>
        <url-pattern>/ItemCookiesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowServlet</servlet-name>
        <url-pattern>/ShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCart</servlet-name>
        <url-pattern>/ShoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemAddSessionServlet</servlet-name>
        <url-pattern>/ItemAddSessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemDeleteSessionServlet</servlet-name>
        <url-pattern>/ItemDeleteSessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowItemSessionServlet</servlet-name>
        <url-pattern>/ShowItemSessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingSessionServlet</servlet-name>
        <url-pattern>/ShoppingSessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingBag</servlet-name>
        <url-pattern>/ShoppingBag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProtectedPageAuthentication</servlet-name>
        <url-pattern>/ProtectedPageAuthentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HideFieldServlet</servlet-name>
        <url-pattern>/HideFieldServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebVisitorServlet</servlet-name>
        <url-pattern>/WebVisitorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizServlet</servlet-name>
        <url-pattern>/QuizServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
